p{
    font-size: 18px;    
}

.life-container{
    width: 60%;
    position: relative;
}

.home-btn{
    position: absolute;
    font-size: 40px;
    right: 10px;
    top: 20px;
    display: block;
    color: grey;
}
.home-btn:hover{
    color: black;
}

.parallax{
    background-image: url("img/cover.JPG");
}

.parallax-label{
        position: absolute;
    bottom: 0;
    padding: 20px;
    margin: 0;
    background-color: grey;
    color: white;
}

.life-img{
    width: 80%;
    margin: 20px auto;
    display: block;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.life-img:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

